/**********************
CSS for the Navigation bar / Header of the Tweeter app.
*/

@import 'variables';

#nav-bar {
  z-index: 10;
  height: 80px;
  width: 100%;
  background: $primary-color;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 0em 2em 0em 2em;
  color: #e8fdff;

  div {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 80px;
      height: 80px;
    }

    .header {
      margin-left: 10px;
      font-size: 2em;
      line-height: 80px;
    }
  }



  button:hover {
    background:#00d3b2;
    color: black;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    width: 7em;
    background: white;
    color: #00a087;
    border-radius: 0.5em;

    div {
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        vertical-align: 0%;
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
      }

      .compose-text {
        vertical-align: 15%;
        position: relative;
        display: inline-block;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
