/**********************
CSS for the the Compose Tweet form.
*/

@import 'variables';


.new-tweet {
  max-width: 450px;
  margin: 0 2em 0 2em;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;

  h2 {
    align-items: flex-start;
    flex: 1;
    margin: 0.25em 0 0.5em 0;
    border-bottom: 1px solid black;
  }

  form {
    align-items: flex-end;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    textarea {
      min-height: 5em;
      resize: vertical;
      width: 100%;
      padding: 0.25em;
    }

    div {
      display: flex;
      width: 100%;
      margin-top: 0.25em;
      justify-content: space-between;
      align-items: center;

      .counter {
        width: 2em;
      }

      .over-count{
        color: red;
      }

      input {
        width: 5em;
        height: 2em;
      }

      .error {
        text-align: center;
        font-weight: bold;
        color: red;
      }
    }
  }
}

